<div id="<%= dom_id invoice %>">
  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>To:</strong>
    <%= invoice.to %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

</div>
