<div class="nested-fields">
  <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
    </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="field text-sm text-gray-900 border">
              <%= f.text_area :description %>
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="field text-sm text-gray-900 border">
              <%= f.number_field :rate, step: 0.1 %>
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="field text-sm text-gray-900 border">
              <%= f.number_field :quantity %>
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="field text-sm text-gray-900 border">
              <%= f.number_field :amount, disabled: true %>
            </div>
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900 border">
              <%= link_to_remove_association "X", f %>
            </div>
          </td>
        </tr>
      </tbody>
  </table>



</div>