<div class="grid place-items-center">
  <div class="bg-white p-5 shadow">
    <h2 class="text-center text-yellow-500 font-extrabold text-5xl my-10">Welcome To Sapna Billing App</h2>
  </div>

  <div class="bg-white p-5 shadow">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"p-4 text-sm font-bold text-slate-700 border", placeholder:"Email" %>
      </div>

      <div class="field mt-2">
        <%= f.password_field :password, autocomplete: "current-password", class:"p-4 text-sm font-bold text-slate-700 border", placeholder:"Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-slate-700">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"text-slate-700" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"text-white rounded bg-gray-500 hover:bg-gray-600 px-3 py-2 hover:cursor-pointer mt-2" %>
      </div>
    <% end %>
  </div>
</div>
