<!DOCTYPE html>
<html>
  <head>
    <title>SapnaBillingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100 p-10">
    <% if current_admin %>
      <div>
        <%= link_to "Log Out", destroy_admin_session_path, data:{turbo_method: :delete, turbo_confirm:"Are You Sure you want to Log Out?"}, class:"bg-red-700 hover:bg-red-800 p-2 text-white rounded" %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
