<!DOCTYPE html>
<html>
  <head>
    <title>SapnaBillingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/4.0.0-alpha.14/lib.min.js" integrity="sha512-LTxGQ9e0m5BLj8PqkTeZdQIWBCGt2L1I3dZkprWs3lwsWkiXD1j+o2rttG+40TVOQPUpQC9rykk3RPX9Dny1Bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
